


##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
.run/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Cursor
##############################
.cursor

##############################
## Visual Studio Code
##############################
.code-workspace
.vscode/
.history/
*.vsix

##############################
## BlueJ
##############################
*.ctxt

##############################
## Kubernetes
##############################
*.kubeconfig

##############################
## OS X
##############################
.DS_Store

##############################
## Windows
##############################
Thumbs.db

##############################
## Generic package files
##############################
*.zip
*.tar.gz
*.rar
