##############################
## OS X
##############################
._*
.DS_Store
.LSOverride

##############################
## Windows
##############################
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db

##############################
## Generic package files
##############################
*.zip
*.tar.gz
*.rar

##############################
## Backups
##############################
*.bak

##############################
## Logs
##############################
*.log
log/
logs/

##############################
## Temporary
##############################
*~
*.tmp
*.temp
tmp/
temp/

##############################
## Vim
##############################
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## BlueJ
##############################
*.ctxt



